/* =============
    Header
============= */

header{

    background-color: ;
    color: 

    .content{
        display:grid;
        grid-template-columns: 50% 50%   
    }
    ul{
        li{
            list-style: none;
            font-family: ;
        }
        a{
            text-decoration: none;
        }
    }
}